/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 100px;
}

.carousel-control-prev-icon {
  color: #262626;
}
h1, h2, h3 {
  font-family: "Roboto,sans-serif";
}

h5 {
  font-family: "Century Gothic";
  text-align: center;
}
.text-center{
  font-family: "Brush Script MT";
  font-size: 100px;
  opacity: 0.8;
}

.navigation {
  height: 70px;
  background-color: #02426b;
}


.nav-list li:hover ul{
  display: initial;
  opacity: 40;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  position: relative;
  margin-top: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  position: relative;

}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  color: black;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  border-bottom: rgb(222, 83, 7) 2px solid;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .container-fluid {
    width: 100%;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
      display: block !important;
 }
}

.position {
  margin-top: 20px;
  margin-left: 200px;
  height: 230.188px;
  width: 573.578px;
  position: relative;
  display: flex;
 }
